
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .left-column,
  .right-column {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .right-column img {
    max-width: 100%;
    height: auto;
  }
  
  .btn-primary{
    max-width: 15%;
  }
  .btn-secondary{
    max-width: 25%;
  }